/* Importing Fonts */
@import url('../font/sourcesanspro.css');
@import url('../font/barlow-condensed.css');
@import url('../font/weather-icons.css');

html{
	background-color: #000000;
	font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
	color: #fff;
}

[data-icon]:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}

.wrapper{
    display:flex;
}

/* Time and Date */
.clock{
    max-width: 33.3vw;
}
.time{
    display: flex;
    align-items: flex-start;
    text-align: left;
	font-size: 10rem;
    margin-top: -0.29em;
}
.date{
    font-size: 4rem;
    color: #ffffffa1;
    font-weight: normal;
    letter-spacing: -0.05em;
    margin-left: 0.1em;
    margin-bottom: 7.8em;
}
#seconds{
    color: grey;
    font-size: 6rem;
    font-weight: normal;    
    margin-left: 0.15em;
    margin-top: 0.19em;

}
#year{
    margin-left: 0.1em;
}

/* Weather */
.weather{
    flex-grow: 1;
    text-align: right;
    margin-top: 5em;
}

#sun{
    font-size: 2.2em;
    margin-right: 1.9em;
}
#conditions{
    font-size: 5.2em;
    margin-right: 0.8em;
}
.forecast{
    position: absolute;
    right: 2.75em;
    font-size: 1.75em;
    margin-top: 1em;
    margin-right: inherit;
}
#forecast{
    text-align: center;
    padding: 0 0px 3px 30px;
}

/* News */
.newswrapper{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
}