/* [SLIDER] */
#slider,  #slider .slide{
    width: 500px;
  }
  #slider {
    overflow: hidden;
    margin: 0 auto;
  }
  #slider .container {
    position: relative;
    width: 9000px; /* Assign an insanely large width */
    top: 0;
    right: 0;
    animation: slide-animation 45s infinite;
  }
  #slider .slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
  }

/* [ANIMATION] */
@keyframes slide-animation {
  0% { 
    opacity: 0;
    right: 0;
  }
  5% {
    opacity: 0.8;
  }
  11% {
    opacity: 1;
    right: 0; 
  }
  22% { right: 100%; }
  33% { right: 100%; }
  44% { right: 200%; }
  55% { right: 200%; }
  66% { right: 300%; }
  77% { right: 300%; }
  88% {
    opacity: 1;
    right: 400%; 
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    right: 400%;
  }
}
